body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position:center;
    justify-content: center;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: cornflowerblue;
    color: #fff;
    padding: 10px;
  }
  
  .image {
    height: 30px;
    margin-right: 5px;
  }
  
  .navbar a {
    font-size: 1.2rem;
    text-decoration: none;
  }
  
  .navbar ul {
    list-style: none;
    display: flex;
    gap: 1rem;
  }
  
  .navbar ul a {
    color: #fff;
    font-size: 0.9rem;
    font-weight: 600;
  }
  
  .navbar ul a:hover {
    border-bottom: 2px solid;
  }
  .container {
    margin: 20px auto;
    max-width: 800px;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
  }
  .container h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    font-weight: bold;
    color: #414181;
    text-align: center;
    margin-top: 0;
  }
  .main{
    max-width: 75%;
    margin: 60px auto;
    padding: 10px;
    border-radius: 10px;
    background-color: #ffffffd5;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
  }
  .shadow__btn {
    margin-top: 10%;
    padding: 10px 20px;
    border: none;
    font-size: 17px;
    color: #fff;
    border-radius: 7px;
    letter-spacing: 4px;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.5s;
    transition-property: box-shadow;
  }
  
  .shadow__btn {
    background: rgb(0,140,255);
    box-shadow: 0 0 25px rgb(0,140,255);
  }
  
  .shadow__btn:hover {
    box-shadow: 0 0 5px rgb(0,140,255),
                0 0 25px rgb(0,140,255),
                0 0 50px rgb(0,140,255),
                0 0 100px rgb(0,140,255);
  }
